<h2>This app was designed by Jared Levin.</h2>
<h3>
	<ul>
		<li><a href="https://github.com/jarlev">Github</a></li>
		<li>Questions? <a href="mailto:jaredrlevin@gmail.com?Subject=Thank%20You%20Letter%20Generator%20Question" target="_top">Send me an email.</a></li>
	</ul>
</h3>