<div id="wrapper">
	<div class="jumbotron" style="text-align: center">
	<h1>The thank you letter generator</h1>
	<h3>An simple app designed to make your life easier. </h3>
	</div>
	<h3 style="text-align: center">Ever had to write a thank you letter for a gift or a job interview? It can be a frustrating process! </h3>
	<br>
	<img class="center" src="http://wallpaper.ultradownloads.com.br/276253_Papel-de-Parede-Meme-Jackie-Chan_1600x900.jpg" alt="frustrated_guy" width= "450px" height= "300px" />
	<br>
	<br>
	<h4 style="text-align: center">With this app, creating a well-written letter has never been easier!
	<br>
	Sign up <%=link_to "here", new_user_registration_path %> to get started!</h4>
	<br>
	<br>
</div>